<div class="deg cabecera">
	<div class="logo">
		<img src="https://i.ibb.co/jbfy3dF/logo-nexo-desktop.png" />
  </div>
		<div class="menu">
			<div class="item activo">Seccion 1</div>
			<div class="item">Seccion 2</div>
			<div class="item">Seccion 3</div>
		</div>
		<div class="derecha">
			<div class="acciones">

			</div>
			<div class="info">
				<div class="primaria">Pedro Cuenca Bandín</div>
				<div class="secundaria">Quasar Dynamics</div>
			</div>
			<div class="avatar">
				<img src="https://media-exp1.licdn.com/dms/image/C4D03AQH9L9yTUoN7tA/profile-displayphoto-shrink_400_400/0/1610350913775?e=1616025600&v=beta&t=F-xomohv2ARwqV5k9FLEdA2lVMacSUJm5evQJFgmlPo">
      </div>
			</div>
		</div>
		<div class="container flex">
			<div class="tarjeta col_1">
				<img
      class="cab"
      src="https://ep01.epimg.net/elpais/imagenes/2019/10/30/album/1572424649_614672_1572453030_noticia_normal.jpg"
    />
				<div class="form">
					<div class="input"><input type="text" placeholder="text"></div>
						<div class="input"><input type="number" placeholder="number"></div>
							<div class="input"><input type="password" placeholder="password"></div>
								<div class="input"><input type="email" placeholder="email"></div>
									<div class="input"><input type="tel" placeholder="tel"></div>
										<div class="input"><input type="checkbox"></div>
											<input type="submit">
    </div>
											<button class="deg">Test</button><button class="secundario">Test</button>
											<button class="linea">Test</button><button class="linea secundario">Test</button>
										</div>
									</div>

									<div class="container flex">
										<div class="container col_2">
											<div class="tarjeta col_1">
												<p>Pedro Cuenca</p>
											</div>
										</div>

										<div class="container col_2">
											<div class="tarjeta col_2">
												<p>Pedro Cuenca</p>
											</div>

											<div class="tarjeta col_2">
												<p>Pedro Cuenca</p>
											</div>
										</div>
									</div>

									<div class="container flex">
										<div class="tarjeta col_5">
											<img
      class="cab"
      src="https://ep01.epimg.net/elpais/imagenes/2019/10/30/album/1572424649_614672_1572453030_noticia_normal.jpg"
    />
											<button class="deg">Test</button><button class="secundario">Test</button>
											<button class="linea">Test</button><button class="linea secundario">Test</button>
										</div>
										<div class="tarjeta col_5">
											<p>Pedro Cuenca</p>
										</div>
										<div class="tarjeta col_5">
											<p>
												<label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span> </label>Pedro Cuenca
											</p>
										</div>
										<div class="tarjeta col_5">
											<button>Test</button><button class="secundario">Test</button>
											<button class="linea">Test</button><button class="linea secundario">Test</button>
										</div>
										<div class="tarjeta col_5">
											<p>
												<label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span> </label>Pedro Cuenca
											</p>
										</div>
									</div>
									<div class="container">
										<div class="tarjeta col_3">
											<button>Test</button><button class="secundario">Test</button>
											<button class="linea">Test</button><button class="linea secundario">Test</button>
										</div>
										<div class="tarjeta col_3">
											<button>Test</button><button class="secundario">Test</button>
											<button class="linea">Test</button><button class="linea secundario">Test</button>
										</div>
										<div class="tarjeta col_3">
											<p>Pedro Cuenca</p>
										</div>
									</div>

									<div class="container flex">
										<div class="tarjeta col_3">
											<img
      class="cab"
      src="https://ep01.epimg.net/elpais/imagenes/2019/10/30/album/1572424649_614672_1572453030_noticia_normal.jpg"
    />
											<button>Test</button><button class="secundario">Test</button>
											<button class="linea">Test</button><button class="linea secundario">Test</button>
										</div>
										<div class="tarjeta col_3">
											<button>Test</button><button class="secundario">Test</button>
											<button class="linea">Test</button><button class="linea secundario">Test</button>
										</div>
										<div class="tarjeta col_3">
											<p>Pedro Cuenca</p>
										</div>
									</div>